/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
/* border: 1px dashed #65C366; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
/*border: 1px dashed #A9825A;*/
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
/*   color: var(--clr-grey-1);*/
  /* line-height: 1.5; */
  /* font-size: 0.875rem; */
}
ul {
/*border: 1px dashed #A30391;*/
/*   list-style-type: none;*/
}
a {
/*border: 1px dashed #FCFB74;*/
/*   text-decoration: none;*/
}
img:not(.logo) {
/*border: 1px dashed #31AFB0;*/
/*   width: 100%;*/
}
img {
/*border: 1px dashed #E40760;*/
/*   display: block;*/
}

h1,
h2,
h3,
h4 {
/*border: 1px dashed #0C7C4F;*/
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  /* line-height: 1.25; */
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
/*border: 1px dashed #E97EB7;*/
  font-size: 3rem;
}
h2 {
/*border: 1px dashed #D8D9F9;*/
  font-size: 2rem;
}
h3 {
/*border: 1px dashed #0F1015;*/
  font-size: 1.25rem;
}
h4 {
/*border: 1px dashed #B3493A;*/
  font-size: 0.875rem;
}
p {
/*border: 1px dashed #E6C14E;*/
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
/*border: 1px dashed #494E9B;*/
  h1 {
/*border: 1px dashed #3A15F6;*/
/*     font-size: 4rem;*/
  }
  h2 {
/*border: 1px dashed #8C56E1;*/
    font-size: 2.5rem;
  }
  h3 {
/*border: 1px dashed #3361EB;*/
/*     font-size: 1.75rem;*/
  }
  h4 {
/*border: 1px dashed #8C6460;*/
/*     font-size: 1rem;*/
  }
  body {
/*border: 1px dashed #F31149;*/
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
/*border: 1px dashed #8E1BC7;*/
    line-height: 1;
  }
}
/*  global classes */

.btn {
/*border: 1px dashed #1FC357;*/
  /* text-transform: uppercase; */
  /* background: transparent; */
/*   color: var(--clr-black);*/
/*   padding: 0.375rem 0.75rem;*/
/*   letter-spacing: var(--spacing);*/
/*   display: inline-block;*/
/*   transition: var(--transition);*/
  /* font-size: 0.875rem; */
/*   border: 2px solid var(--clr-black);*/
/*   cursor: pointer;*/
/*   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
/*   border-radius: var(--radius);*/
}
.btn:hover {
/*border: 1px dashed #5C79A7;*/
/*   color: var(--clr-white);*/
/*   background: var(--clr-black);*/
}
/* section */
.section {
/*border: 1px dashed #4A2C8C;*/
  /* padding: 5rem 0; */
}

.section-center {
/*border: 1px dashed #B6CAF5;*/
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
/*border: 1px dashed #E39A4D;*/
  .section-center {
/*border: 1px dashed #D950F4;*/
    width: 95vw;
  }
}
main {
/*border: 1px dashed #C1CF66;*/
  /* min-height: 100vh; */
  /* display: grid; */
  /* place-items: center; */
}
/*
=============== 
Questions
===============
*/
.title {
/*border: 1px dashed #C362E3;*/
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
/* border: 1px dashed #B633F8; */
  color: var(--clr-gold);
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.section-center {
  /* border: 1px dashed #898BDA; */
  max-width: var(--fixed-width);
}
.question {
/* border: 1px dashed #5579CF; */
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
/* border: 1px dashed #4DA830; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
/* border: 1px dashed #5FFA99; */
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
/*border: 1px dashed #6DC8BE;*/
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.question-btn:hover {
/*border: 1px dashed #329044;*/
  /* transform: rotate(90deg); */
}
.question-text {
/* border: 1px dashed #DAAE86; */
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
/* border: 1px dashed #6BF44E; */
  margin-bottom: 0;
}
/* HIDE BY DEFAULT*/
.question-text {
/*border: 1px dashed #0746FD;*/
  display: none;
}
.show-text .question-text {
/*border: 1px dashed #3251D3;*/
  display: block;
  /*
    - Multiple class selectors: Select all elements with the class name .question-text 
        that are descendants (not children) of the element with class .show-text.
        --> A descendant selector is any selector with white space between two selectors
         without a combinator (<ul li>, <header h2>, <#info span>, <.class div>)
        --> Descendant means anywhere nested within it in the DOM tree. Could be a direct child,
         could be five levels deep, it is still a descendant. This is different than a child 
         combinator (>) which requires the element to be the next nested level down.
        --> decedent selector is pretty “expensive” – meaning hard/slow for rendering engines to figure out and do stuff with
    - In contrast to double class selectors: Select the element which has a class .question-text 
        and also a class name of .show-text.
    - if .show-text is added to .question, then .question-text will change from
        <display: none> to <display:block> 
    - 
  */
}
.minus-icon {
/*border: 1px dashed #C934CC;*/
  display: none;
}
.show-text .minus-icon {
/*border: 1px dashed #F35EC4;*/
  display: inline;
  /* adding show-text to descendant that has class minus-icon */
}
.show-text .plus-icon {
/*border: 1px dashed #BB86DD;*/
  display: none;
  /* plus-icon will be hidden when .show-text is added to .question */
}
