/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gradient-pinkblue: linear-gradient(30deg, #FFB7C3,#BCF4F5);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-logo: 'Parisienne', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --line-height: 1.25;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --border-gold: 1px dashed gold;
  --border-grey: 2px solid rgba(110, 108, 109, 0.32);
  --border-pink: 2px solid #FD5DA5;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed grey; */
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-gradient-pinkblue);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  /* min-height: 100vh; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
main { 
  width: 80vw;
  margin: 0 auto;
}
textarea {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  border: none;
  letter-spacing: var(--spacing);
  padding: 10px;
  line-height: var(--line-height);

  overflow-y: auto;
  overflow-x: hidden;
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
    min-height: 100vh;

  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .form {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    /*responsive height + width*/
    height: 90vh;
    /* width: 80vw; */
    max-width: var(--max-width);
  }
  .panel {
    /* height: 100%; */
    /* width: 100%; */
  }
  button {
    display: block;
    font-size: 1.5rem;
    width: 8rem;
    
  }
}

/* INPUT SECTION */
.header-container {
  margin: 0 auto;
  align-items: center;
}
.header-container h3 {
  padding: 0;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-family: var(--ff-logo);
  font-weight: 700;

  color: #4895EF;
  text-shadow:
    0 0 7px #85E1FD,
    0 0 10px #85E1FD,
    0 0 21px #85E1FD;
    /* 0 0 42px #85E1FD, */
    /* 0 0 82px #85E1FD; */
    /* 0 0 92px #85E1FD; */
    /* 0 0 102px #f09, */
    /* 0 0 151px #f09; */
}

.header-span {
  color: #FD5DA5;
}
.header-line {
  height: 0.2rem;
  background-color: #FD5DA5;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.line-1 {
  width: 4rem;
  margin-left: 4rem;
}
.line-2 {
  width: 7rem;
  margin-left: 2.5rem;
}
.alert {
  margin-bottom: 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2;
  font-size: 1rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-style: italic;

}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.form {
    height: 60vh;
}
.panel {
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
    border: var(--border-pink);
    box-shadow: var(--light-shadow);
}
.panel:hover {
    box-shadow: var(--dark-shadow);
}
.button-container {
  display: grid;
  place-items: flex-end;
}
button {
  font-size: 1rem;
  width: 6rem;
  text-transform: capitalize;
  color: #FD5DA5;
  border-radius: var(--radius);
  border: var(--border-pink);
  background-color: white;
  padding: 0.3rem 1rem;
  margin: 1rem 0.5rem;
  transition: var(--transition);
}

button:hover{
    background-color: #FD5DA5;
    color: white;
}




